section .container {
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
}


section .container h1 {
  font-size:20px;
  font-weight: bold;
}

.sidenav {
  position: fixed;
  right:100px;
  top: 20px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img.drakoside {
  width: 300px;
  height: 350px;
  object-fit: contain;
  content:url("https://s3.us-east-2.amazonaws.com/ws.androx.net/looking_cool.png");
  position: relative;
  bottom: 100px;
  top: 200px;
  right:0px;
}

body {
  line-height: 1.618;
}